@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap");

:root {
  --Montserat: "Montserrat", sans-serif;
  --Orbitron: "Orbitron", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  transition: all 0.3s ease;
  background-color: black;
  color: #cfcfcf;
  font-family: var(--Montserat);
}
.container {
  width: 1200px;
  margin: 0px auto;
}
.active {
  background-color: #bcd8edbb;
  /* background-color: #bcd8edbb; */
  color: black;
}
/* Navbar */
nav {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.country_item {
  width: 350px;
  margin-top: 7px;
  display: flex;
  gap: 15px;
}
.country h3 span {
  font-size: 10px;
}
.social_media a {
  background-color: #292929;
  padding: 10px;
  border-radius: 10px;
  color: white;
  transition: all 0.3s;
  font-size: 20px;
}
.social_media a:hover {
  background-color: white;
  color: black;
}

/* Search bar */
.search input {
  width: 350px;
  padding: 10px 35px;
  border-radius: 30px;
  font-size: 16px;
  background-color: #292929;
  color: white;
  border: none;
}
input::placeholder {
  color: #6b6b6b;
}
input:focus {
  outline: none;
}
.search form i {
  position: relative;
  right: 93%;
  color: #6b6b6b;
}
/* Search bar end*/

/* Theme dark light */
.theme {
  width: 230px;
  display: flex;
  justify-content: end;
  gap: 10px;
}
.theme .toogle i {
  font-size: 20px;
  background-color: #292929;
  border-radius: 20%;
  padding: 10px;
}

.toogle {
  padding: 3px;
  border-radius: 20px;
}
.logo {
  font-size: 15px;
  margin-top: 13px;
}
.logo span {
  /* width: 200px; */
}

/* Theme dark light end*/

/* Navbar end */

/* Skeleton loading */

/* Skeleton loading end */

/* Main content */
main {
  margin-top: 50px;
}
.name_week p {
  margin: 20px 0;
  font-weight: 500;
}
.item_weather {
  display: flex;
  justify-content: space-between;
}
.item_weather .item {
  background-color: #292929;
  padding: 20px;
  width: 120px;
  border-radius: 15px;
}
.today_time {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 700;
}
.item_weather .today {
  /* background-color: #637e94bb; */
  background-color: #bcd8edbb;
  width: 30%;
  color: black;
}
.today_weather {
  margin-top: 30px;
}
.temp_gradus {
  display: flex;
  /* gap: 40%;  */
  justify-content: space-between;
}
.today_icon {
  margin-top: 15px;
  width: 40%;
}
.today_icon img {
  width: 90%;
}
.temp_gradus p {
  margin-top: 30px;
  font-family: var(--Orbitron);
  font-weight: 600;
  font-size: 70px;
}
.weather_func {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}
.wind_temp span {
  font-weight: 700;
  margin-left: 10px;
}
.weather_icons img {
  width: 15%;
  /* margin-top: 5px; */
}

.sunrise {
  font-size: 15px;
  font-weight: 700;
  margin-left: 50px;
}
.sunrise img {
  width: 20%;
}
.sunrise span {
  margin-left: 10px;
}
.items {
  padding: 10px;
  background-color: #292929;
  width: auto;
  border-radius: 20px;
  font-weight: 500;
}

/* Loader */
.time {
  display: flex;
  justify-content: center;
  margin: 25% 0;
}
.loader {
  height: 5px;
  width: 5px;
  color: #fff;
  box-shadow: -10px -10px 0 5px, -10px -10px 0 5px, -10px -10px 0 5px,
    -10px -10px 0 5px;
  animation: loader-38 6s infinite;
}

@keyframes loader-38 {
  0% {
    box-shadow: -10px -10px 0 5px, -10px -10px 0 5px, -10px -10px 0 5px,
      -10px -10px 0 5px;
  }
  8.33% {
    box-shadow: -10px -10px 0 5px, 10px -10px 0 5px, 10px -10px 0 5px,
      10px -10px 0 5px;
  }
  16.66% {
    box-shadow: -10px -10px 0 5px, 10px -10px 0 5px, 10px 10px 0 5px,
      10px 10px 0 5px;
  }
  24.99% {
    box-shadow: -10px -10px 0 5px, 10px -10px 0 5px, 10px 10px 0 5px,
      -10px 10px 0 5px;
  }
  33.32% {
    box-shadow: -10px -10px 0 5px, 10px -10px 0 5px, 10px 10px 0 5px,
      -10px -10px 0 5px;
  }
  41.65% {
    box-shadow: 10px -10px 0 5px, 10px -10px 0 5px, 10px 10px 0 5px,
      10px -10px 0 5px;
  }
  49.98% {
    box-shadow: 10px 10px 0 5px, 10px 10px 0 5px, 10px 10px 0 5px,
      10px 10px 0 5px;
  }
  58.31% {
    box-shadow: -10px 10px 0 5px, -10px 10px 0 5px, 10px 10px 0 5px,
      -10px 10px 0 5px;
  }
  66.64% {
    box-shadow: -10px -10px 0 5px, -10px -10px 0 5px, 10px 10px 0 5px,
      -10px 10px 0 5px;
  }
  74.97% {
    box-shadow: -10px -10px 0 5px, 10px -10px 0 5px, 10px 10px 0 5px,
      -10px 10px 0 5px;
  }
  83.3% {
    box-shadow: -10px -10px 0 5px, 10px 10px 0 5px, 10px 10px 0 5px,
      -10px 10px 0 5px;
  }
  91.63% {
    box-shadow: -10px -10px 0 5px, -10px 10px 0 5px, -10px 10px 0 5px,
      -10px 10px 0 5px;
  }
  100% {
    box-shadow: -10px -10px 0 5px, -10px -10px 0 5px, -10px -10px 0 5px,
      -10px -10px 0 5px;
  }
}

.items .wek {
  text-align: center;
}
.wek hr {
  margin-top: 10px;
  border: 1px solid #6b6b6bb9;
}
.items .week_icon {
  padding: 15px;
  margin-top: 70%;
  width: 100px;
  height: 100px;
}
.items .week_icon img {
  width: 100%;
}
.items .week_temp {
  text-align: center;
  margin-top: 60%;
  font-family: var(--Orbitron);
  font-size: 35px;
}

/* Map Content */
.map {
  margin-top: 50px;
  display: flex;
  gap: 25px;
}
.map_temp {
  display: flex;
  /* justify-content: space-between; */
  margin-top: 30px;
  background-color: #292929;
  width: 850px;
  padding: 20px;
  border-radius: 15px;
  /* gap: 50px; */
}

.description {
  width: 85%;
}
.map_temp p {
  padding: 16px 0;
  font-size: 18px;
}
.map .map_weather p {
  font-weight: 500;
}

.city_temps p {
  font-weight: 500;
}
.weather_cound {
  margin-top: 10px;
  text-align: center;
}
.region {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  background-color: #292929;
  padding: 15px;
  border-radius: 15px;
}
.region_name .city {
  color: rgba(255, 255, 255, 0.377);
}
.region_name h3 {
  padding: 10px 0;
  font-size: 20px;
}
.region_name p {
  font-size: 15px;
}
.region_temp {
  width: 20%;
}

.region_temp img {
  width: 100%;
}

.region_temp p {
  text-align: center;
  font-size: 25px;
  font-family: var(--Orbitron);
  font-weight: bold;
}
/* Map Content end */
/* Main content end */

.addres {
  display: none;
}

/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding: 15px;
  border-radius: 10px;
  background-color: #292929;
}
.addres {
  display: block;
}
.copright,
.social {
  margin-top: 15px;
}
.copright p {
  font-weight: 500;
  font-size: 15px;
}
.copright p span {
  /* color: #868686; */
}
.logos {
  text-align: center;
}
.logos a img {
  width: 10%;
}
.social {
  display: flex;
  gap: 20px;
  font-size: 25px;
}
.social a {
  color: white;
}
.social a:hover {
  color: #bcd8edbb;
}

.addres {
  display: none;
}
.error_active {
  transform: translateY(-100px);
}
.error {
  position: relative;
  display: flex;
  justify-content: end;
  transition: all 0.3s ease;
  z-index: 22;
}
.error p {
  margin-top: 30px;
  position: absolute;
  padding: 15px;
  background-color: #d95252;
  border-radius: 15px;
  color: black;
}
/* Footer end */
/* Responsive */
@media screen and (max-width: 600px) {
  .container {
    width: 90%;
    margin: 10px auto;
  }
  main {
    margin-top: 20px;
  }
  .addres {
    display: block;
  }
  .logo {
    display: none;
  }
  .time {
    margin: 65% 0;
  }
  .theme {
    display: none;
  }
  .toogle {
    display: none;
  }
  .country_item {
    width: 120px;
  }

  .search input {
    width: 100%;
  }
  .search form i {
    right: -10px;
    top: -28px;
  }
  .name_week {
    display: flex;
    justify-content: space-between;
  }
  .sunrise .temps {
    /* width: 25px; */
  }
  .map_temp {
    display: block;
    width: 100%;
  }
  .main_tep {
    display: none;
    width: 500px;
  }
  .map {
    display: block;
  }

  .item_weather {
    display: block;
  }
  .item_weather .today {
    width: 100%;
  }
  .today {
    width: 100%;
  }

  .country {
    display: none;
  }
  .items {
    width: 100%;
    height: 150px;
    margin-top: 10px;
  }
  .wek hr {
    display: none;
  }
  .city_temps {
    margin-top: 25px;
  }
  .items .week_icon {
    margin-top: 0%;
  }
  .items .week_temp {
    position: relative;
    bottom: 50%;
    margin-top: 0%;
  }
  .items .wek {
    text-align: end;
    position: relative;
    top: 50%;
    font-size: 20px;
  }
  .city_temps {
    margin-top: 50px;
  }
  .region {
    margin-top: 10px;
  }
  .region_temp {
    width: 15%;
  }

  footer {
    border-radius: 10px 10px 0 0;
    background-color: #101010;
  }
  .copright {
    margin-top: 0px;
    font-size: 20px;
  }
  .copright p {
    position: relative;
    top: 50%;
  }
  .copright span {
    display: none;
  }
  .social {
    gap: 15px;
  }
  .logos a img {
    width: 25%;
  }
  .error {
    justify-content: center;
    z-index: 9999;
  }
}

@media screen and (max-width: 320px) {
  .container {
    width: 95%;
    margin: 10px auto;
  }
  .addres {
    display: block;
    font-size: 12px;
    text-align: end;
  }
  .logo {
    display: none;
  }
  .time {
    position: absolute;
    top: 50%;
  }
  .theme {
    display: none;
  }
  .toogle {
    display: none;
  }
  .country_item {
    width: 120px;
  }

  .search input {
    width: 100%;
  }
  .search form i {
    right: -10px;
    top: -28px;
  }
  .name_week {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
  }
  .sunrise .temps {
    /* width: 25px; */
  }
  .map_temp {
    display: block;
    width: 100%;
  }
  .map {
    display: block;
  }

  .item_weather {
    display: block;
  }
  .item_weather .today {
    width: 100%;
  }
  .today {
    width: 100%;
  }
  .country {
    display: none;
  }
  .items {
    width: 100%;
    height: 150px;
    margin-top: 10px;
  }
  .items .week_icon img {
    width: 80%;
  }
  .week_temp {
    bottom: 100%;
  }
  .wek hr {
    display: none;
  }
  .city_temps {
    margin-top: 25px;
  }
  .items .week_icon {
    margin-top: 0%;
  }
  .items .week_temp {
    position: relative;
    bottom: 50%;
    margin-top: 0%;
  }
  .items .wek {
    text-align: end;
    position: relative;
    top: 50%;
    font-size: 20px;
  }
  .city_temps {
    margin-top: 50px;
  }
  .region {
    margin-top: 10px;
  }
  .region_temp {
    width: 15%;
  }
  .copright {
    margin-top: 0px;
    font-size: 20px;
  }
  .copright p {
    position: relative;
    top: 50%;
  }
  .social {
    gap: 5px;
    font-size: 10px;
  }
  .logos a img {
    width: 25%;
  }
  .error {
    justify-content: center;
    z-index: 9999;
  }
}
/* Responsive end*/
